<div class="container my-2">
  <h2 class="text-center">Lista de Clientes</h2>
  <div class="my-2 text-left">
    <button type="button" class="btn btn-primary" routerLink="/clientes/form">
      Crear Cliente
    </button>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th class="text-smal0l">Fecha de creacion</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of clientes">
        <td scope="row">{{ c.id }}</td>
        <td>{{ c.nombre }}</td>
        <td>{{ c.apellido }}</td>
        <td>{{ c.email }}</td>
        <td>{{ c.createdAt }}</td>
        <td>
          <a class="btn btn-primary" [routerLink]="['/clientes/form', c.id]">
            Editar
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
