<div class="card rounded">
  <div class="card-header">
    {{ titulo }}
  </div>
  <!-- errores del backend -->
  <div class="alert alert-danger" *ngIf="errores.length > 0">
    <li *ngFor="let err of errores">{{ err }}</li>
  </div>

  <div class="card-body">
    <form #clientForm="ngForm">
      <div class="form-group">
        <label>Nombre</label>
        <input
          type="text"
          class="form-control"
          placeholder="Ingrese su nombre"
          [(ngModel)]="cliente.nombre"
          name="nombre"
          required
          minlength="4"
          #nombre="ngModel"
        />
        <span
          class="badge badge-danger my-1"
          *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
        >
          <div class="" *ngIf="nombre.errors?.required">
            Nombre es requerido
          </div>

          <div class="" *ngIf="nombre.errors?.minlength">
            Nombre debe tener al menos 4 caracteres
          </div>
        </span>
      </div>
      <div class="form-group">
        <label>Apellido</label>
        <input
          type="text"
          class="form-control"
          placeholder="Ingrese su Apellido"
          [(ngModel)]="cliente.apellido"
          name="apellido"
          required
          #apellido="ngModel"
        />
        <span
          class="badge badge-danger my-1"
          *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)"
        >
          <div class="" *ngIf="apellido.errors?.required">
            Apellido es requerido
          </div>
        </span>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input
          type="email"
          class="form-control"
          placeholder="Ingrese su email"
          [(ngModel)]="cliente.email"
          name="email"
          required
          email
          #email="ngModel"
        />
        <span
          class="badge badge-danger my-2"
          *ngIf="email.invalid && (email.dirty || email.touched)"
        >
          <div class="" *ngIf="email.errors?.required">Email es requerido</div>
        </span>
        <span
          class="badge badge-danger my-2"
          *ngIf="email.invalid && (email.dirty || email.touched)"
        >
          <div class="" *ngIf="email.errors?.email">
            No tiene formato de email
          </div>
        </span>
      </div>

      <div class="form-group">
        <label>Fecha de Creacion</label>
        <input
          type="date"
          class="form-control"
          [(ngModel)]="cliente.createdAt"
          name="createdAt"
        />
      </div>

      <button
        type="button"
        class="btn btn-primary btn-lg btn-block"
        (click)="create()"
        *ngIf="cliente.id == 0; else elseBlock"
        [disabled]="!clientForm.form.valid"
      >
        Crear
      </button>
      <ng-template #elseBlock>
        <button
          type="button"
          class="btn btn-dark btn-lg btn-block"
          (click)="update()"
          [disabled]="!clientForm.form.valid"
        >
          Update
        </button>
      </ng-template>
    </form>
  </div>
</div>
